.main-header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 75pt;
}

.main-header h2 {
	font-size: 25pt;
}

.main-header img{
	width: 100%;
}

hr{
	margin: 0 auto;
	width: 95%;
}

header {
	text-align: center;
}

body{
	font-family: 'Raleway', sans-serif;
}

#food img {
	width: 50%;
}

#sports img {
	width: 20%;
	padding: 10px;
}
