html{
	background-color: #00345e;
}

.main-header h1 {
	font-family: 'Pacifico', cursive;
	font-size: 80pt;
	margin-bottom: 0;
	margin-top: 0;
}

.main-header h3 {
	font-size: 18pt;
	padding-bottom: 15px;
}

.main-header img{
	width: 100%;
}

hr{
	margin: 0 auto;
	width: 95%;
}

header {
	text-align: center;
}

body{
	font-family: 'Raleway', sans-serif;
}

main{
	margin: 0 75px 0 75px;
}

main h1{
	font-size: 30pt;
}

#food img {
	width: 50%;
}

#sports img {
	padding: 10px;
}

#social li{
	display: inline;
	list-style-type: none;
	padding: 0 10px;
	margin: 0 auto;
}

footer{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}